html {
	display:block;
	background-image: url("Background3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	
	height: 110px;
	width: 100%;
	
}

#aboutus {
	display: inline-block;
	position: fixed;
	top: 10px;
  	right: 10px;
	align-self: flex-end;

	
}