html {
	display:block;
	background-image: url("Background3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


body {
	margin: 10%;
	margin-top:50px;
	width: 80%;
	height: auto ;
	background-color: rgba(204, 204, 204, 0.7);
}


h1 {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	color: #3A3A3A;
}

