html {
	display:block;
	background-image: url("Background3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


body {
	margin-left: 10%;
	margin-right: 10%;
	
	margin-top:35px;
	width: 80%;
	height: auto ;
	background-color: rgba(204, 204, 204, 0.85);
	

}

#bodyInside {
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 7%;
}

#ingredients {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}


h1 {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	color: #3A3A3A;
}

#ingP {
	color:#3A3A3A;
	margin-left:10%;
	margin-right: 10%;
	text-align: center;
}

